{% include '/header.html' %}
    <a class="btn btn-success" href="/sucursal/create" role="button">Nuevo</a>
<table id="myTable" class="display"  class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for sucursal in sucursales
            if(sucursal[0] != 1)
            %}
            

        <tr>
            <td>{{sucursal[0]}}</td>
            <td>{{sucursal[1]}}</td>
            <td>
                <a class="btn btn-primary" href="/sucursal/edit/{{sucursal[0]}}" role="button" >Editar</a>
                <a class="btn btn-danger {{sucursal[2]}}"href="sucursal/delete/{{sucursal[0]}}" role="button" >Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    </script>
{% include '/footer.html' %}